Demo_Box/demox_box_flow.json
[
    {
        "id": "5ca93481cae05161",
        "type": "tab",
        "label": "IXIAS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "372b14331b9acc43",
        "type": "mqtt in",
        "z": "5ca93481cae05161",
        "name": "Mosquitto MQTT Test Topic",
        "topic": "picow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "54665b95bf4f4d1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "4d62e213be4d61d9",
                "a7531e13f09fec11",
                "2ae8733ae44045bf"
            ]
        ]
    },
    {
        "id": "4d62e213be4d61d9",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "MQTT Broker",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "a7531e13f09fec11",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "44b5df9e90cb2c76",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MQTT Message",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b0ecf4748edee01",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "white pot split",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 900,
        "wires": []
    },
    {
        "id": "f305ec327ff6b9b1",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "red pot split",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 740,
        "wires": []
    },
    {
        "id": "243a3cfbbf6192b4",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "blue pot split",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 600,
        "wires": []
    },
    {
        "id": "2ae8733ae44045bf",
        "type": "json",
        "z": "5ca93481cae05161",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 460,
        "wires": [
            [
                "c719d35b4cf7c8dd",
                "ba38dd25ba873762"
            ]
        ]
    },
    {
        "id": "c719d35b4cf7c8dd",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "Parser Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "eaafdb53c30a14cd",
        "type": "switch",
        "z": "5ca93481cae05161",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "BluePotValue",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RedPotValue",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "WhitePotValue",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TemperatureValue",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HumidityValue",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DistanceValue",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 6,
        "x": 970,
        "y": 460,
        "wires": [
            [
                "243a3cfbbf6192b4",
                "e8981a266e351df5",
                "72f4c24a635f5018",
                "ef383b813b23cec3"
            ],
            [
                "f305ec327ff6b9b1",
                "bf3438647e88172f",
                "d08edee8b38cc947",
                "ef383b813b23cec3"
            ],
            [
                "9b0ecf4748edee01",
                "0762d29585d228eb",
                "d63a9d9a20ef0b4b",
                "ef383b813b23cec3"
            ],
            [
                "f7610d1fd07e5ba4",
                "a7b43449985ab9e7"
            ],
            [
                "e9d1e305bd5fe06d",
                "e78c72f92087e8a0"
            ],
            [
                "b3abb2500fdacccf",
                "8e5c3e7ed1abbb5c",
                "21022d90e2686e5d"
            ]
        ]
    },
    {
        "id": "ba38dd25ba873762",
        "type": "split",
        "z": "5ca93481cae05161",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "eaafdb53c30a14cd",
                "862cbd5ae12bbb1a"
            ]
        ]
    },
    {
        "id": "862cbd5ae12bbb1a",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "Split Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "bf3438647e88172f",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "1668aef212da269d",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Red Pot - Filter Pressure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 780,
        "wires": []
    },
    {
        "id": "e8981a266e351df5",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "1668aef212da269d",
        "order": 27,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Blue Pot - Fan Vibration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 640,
        "wires": []
    },
    {
        "id": "0762d29585d228eb",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "1668aef212da269d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "White Pot - Fan Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1720,
        "y": 940,
        "wires": []
    },
    {
        "id": "d63a9d9a20ef0b4b",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "deg C",
        "group": "1668aef212da269d",
        "order": 6,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Fan Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1650,
        "y": 980,
        "wires": []
    },
    {
        "id": "72f4c24a635f5018",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "in/sec",
        "group": "1668aef212da269d",
        "order": 30,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": " Fan Vibration",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1650,
        "y": 680,
        "wires": []
    },
    {
        "id": "d08edee8b38cc947",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "",
        "group": "1668aef212da269d",
        "order": 18,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "AHU Filter Pressure Drop",
        "label": "PSI",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 820,
        "wires": []
    },
    {
        "id": "ef383b813b23cec3",
        "type": "switch",
        "z": "5ca93481cae05161",
        "name": "RAG Lights Pots",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "49",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "50",
                "vt": "num",
                "v2": "74",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "75",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1420,
        "y": 120,
        "wires": [
            [
                "8235a6d451aaad0d",
                "a4f40207dcf5d92f"
            ],
            [
                "8235a6d451aaad0d",
                "5273dcb9c292548d"
            ],
            [
                "8235a6d451aaad0d",
                "f3edb320ee45c8b3"
            ]
        ]
    },
    {
        "id": "c3a40dc37b8fcb20",
        "type": "mqtt out",
        "z": "5ca93481cae05161",
        "name": "MQTT LED post",
        "topic": "picow/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "54665b95bf4f4d1c",
        "x": 2220,
        "y": 120,
        "wires": []
    },
    {
        "id": "a4f40207dcf5d92f",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Green Light on",
        "func": "//msg.payload = \"GREEN ON\"\nmsg.payload = {\n    \"GreenLED\": \"GREEN ON\",\n    \"YellowLED\": \"YELLOW OFF\",\n    \"RedLED\": \"RED OFF\",\n}\n                \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 60,
        "wires": [
            [
                "39b83339d209be52",
                "c3a40dc37b8fcb20"
            ]
        ]
    },
    {
        "id": "5273dcb9c292548d",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Yellow Light On",
        "func": "//msg.payload = \"YELLOW ON\"\nmsg.payload = {\n    \"GreenLED\": \"GREEN ON\",\n    \"YellowLED\": \"YELLOW ON\",\n    \"RedLED\": \"RED OFF\",\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 120,
        "wires": [
            [
                "39b83339d209be52",
                "c3a40dc37b8fcb20"
            ]
        ]
    },
    {
        "id": "f3edb320ee45c8b3",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Red Light On",
        "func": "//msg.payload = \"RED ON\"\nmsg.payload = {\n    \"GreenLED\": \"GREEN ON\",\n    \"YellowLED\": \"YELLOW ON\",\n    \"RedLED\": \"RED ON\",\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 180,
        "wires": [
            [
                "39b83339d209be52",
                "c3a40dc37b8fcb20"
            ]
        ]
    },
    {
        "id": "8235a6d451aaad0d",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "RAG Switch outputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 260,
        "wires": []
    },
    {
        "id": "39b83339d209be52",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "RAG Function outputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1920,
        "y": 120,
        "wires": []
    },
    {
        "id": "626e094861c405e1",
        "type": "switch",
        "z": "5ca93481cae05161",
        "name": "RAG Lights Range",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "49",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "50",
                "vt": "num",
                "v2": "74",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "75",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1430,
        "y": 200,
        "wires": [
            [
                "a4f40207dcf5d92f"
            ],
            [
                "5273dcb9c292548d"
            ],
            [
                "f3edb320ee45c8b3"
            ]
        ]
    },
    {
        "id": "a7b43449985ab9e7",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "d6613f43781768c7",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DHT11 Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1700,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f7610d1fd07e5ba4",
        "type": "ui_chart",
        "z": "5ca93481cae05161",
        "name": "",
        "group": "d6613f43781768c7",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperature Sensor",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0162a7",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1700,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "e78c72f92087e8a0",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "d6613f43781768c7",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "DHT11 Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1680,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e9d1e305bd5fe06d",
        "type": "ui_chart",
        "z": "5ca93481cae05161",
        "name": "",
        "group": "d6613f43781768c7",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "Humidity Sensor",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0162a7",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1680,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "21022d90e2686e5d",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "",
        "group": "8eb61f5e3b694800",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Range",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1650,
        "y": 1260,
        "wires": []
    },
    {
        "id": "8e5c3e7ed1abbb5c",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "8eb61f5e3b694800",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "HC-SR04 Range Finder",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b3abb2500fdacccf",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Invert Range Finder Value",
        "func": "let range_value = msg.payload;\nlet max_volume = 100;\n\nlet newvalue = max_volume - range_value\n\nmsg.payload = newvalue\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1300,
        "wires": [
            [
                "b409e0be784fe505",
                "376bbaa1086e3a32",
                "626e094861c405e1"
            ]
        ]
    },
    {
        "id": "376bbaa1086e3a32",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "",
        "group": "8eb61f5e3b694800",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Range Inverted",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1680,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b409e0be784fe505",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "8eb61f5e3b694800",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "HC-SR04 Range Finder Inverted",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 1320,
        "wires": []
    },
    {
        "id": "fdac352c26335ee2",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "95f72ae30010568d",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "c31a84736714830c",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "ee14edec4939c766",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "f69bef2525e0259e",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "fdad566575b0a109",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "e35f50c5c1566995",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "cbcb29216bf2ed38",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "360635c22112988c",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "ef6e97e1c44937c3",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "5ed655e24c59d461",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "cb75130e3ff98f45",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "aaced45f262f9376",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "89227ae5efc4a871",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "666f17b149f29613",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "cf90b6e032a68827",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "22bba5967f87c947",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "f8019003e8237b72",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 4,
        "width": 10,
        "height": 1
    },
    {
        "id": "0f5799a433e29362",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "8a4d53d024dd4a1f",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "1dc183dcef8becc9",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "da069c0529700e17",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "744f462b10675ccf",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "1ae4061fe2b7e0f7",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "b2295eac38d8395c",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 12,
        "width": 10,
        "height": 1
    },
    {
        "id": "ec8b8758b09b840c",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 13,
        "width": 10,
        "height": 1
    },
    {
        "id": "a0dcc48ac53e0e17",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "45b4e93d35dffda4",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "bb173ecd2161e692",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "80911935d928349e",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "0696d0eb43677318",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "c3ac388edafeda1a",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "9c2e2e8cbfbf8f9e",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "f81a46046ed9d28f",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 23,
        "width": 3,
        "height": 1
    },
    {
        "id": "445074bbeb1f394f",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 24,
        "width": 10,
        "height": 1
    },
    {
        "id": "392c8432b07d7b9b",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 25,
        "width": 10,
        "height": 1
    },
    {
        "id": "85698969aa1abafc",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "90179a2ba38d496f",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "900f794f9758e2ac",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "df7f9ee75e484a46",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 31,
        "width": 3,
        "height": 1
    },
    {
        "id": "719bd85b1e39ce4f",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "cf06a211a81eb62f",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 33,
        "width": 3,
        "height": 1
    },
    {
        "id": "a7a34cd9be987258",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "4ee0190ed16017a6",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "1668aef212da269d",
        "order": 35,
        "width": 3,
        "height": 1
    },
    {
        "id": "c49b5c33e5368917",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "d6613f43781768c7",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "9ac06c861cb3fcdf",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "d6613f43781768c7",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "3c271a3cd11a8c05",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "d6613f43781768c7",
        "order": 4,
        "width": 10,
        "height": 1
    },
    {
        "id": "20006ef9ce84fc57",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "d6613f43781768c7",
        "order": 6,
        "width": 10,
        "height": 1
    },
    {
        "id": "27d80357470af54a",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "d6613f43781768c7",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "6dc582b2826c368e",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "d6613f43781768c7",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "60d0158f2178b381",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "d6613f43781768c7",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "174e5afc21ce96ab",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "8eb61f5e3b694800",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8d98e4799729b53",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "8eb61f5e3b694800",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "74f1efe5fc567772",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "8eb61f5e3b694800",
        "order": 4,
        "width": 10,
        "height": 1
    },
    {
        "id": "22e2f574c73181fa",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "8eb61f5e3b694800",
        "order": 6,
        "width": 10,
        "height": 1
    },
    {
        "id": "c2b7c4f40424afc1",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "8eb61f5e3b694800",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "1d23d7de8209408d",
        "type": "ui_spacer",
        "z": "5ca93481cae05161",
        "name": "spacer",
        "group": "8eb61f5e3b694800",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "54665b95bf4f4d1c",
        "type": "mqtt-broker",
        "name": "HomeBroker",
        "broker": "192.168.68.135",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44b5df9e90cb2c76",
        "type": "ui_group",
        "name": "MQTT Message",
        "tab": "68b39df7a39ba1b8",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1668aef212da269d",
        "type": "ui_group",
        "name": "Pots",
        "tab": "99d9cdb8e8b30084",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6613f43781768c7",
        "type": "ui_group",
        "name": "Temperature & Humidity",
        "tab": "99d9cdb8e8b30084",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8eb61f5e3b694800",
        "type": "ui_group",
        "name": "Range Finder",
        "tab": "99d9cdb8e8b30084",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "666f17b149f29613",
        "type": "ui_group",
        "name": "Indvidual Topics",
        "tab": "99d9cdb8e8b30084",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
        {
        "id": "99d9cdb8e8b30084",
        "type": "ui_tab",
        "name": "HomeLab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]