MonoTopic_SwitchLEDs_Dashboards/NR_Flow_MonoTopic_RAG-LED_Dashboards.json
[
    {
        "id": "372b14331b9acc43",
        "type": "mqtt in",
        "z": "5ca93481cae05161",
        "name": "Mosquitto MQTT Test Topic",
        "topic": "picow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "54665b95bf4f4d1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "4d62e213be4d61d9",
                "a7531e13f09fec11",
                "2ae8733ae44045bf"
            ]
        ]
    },
    {
        "id": "4d62e213be4d61d9",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "MQTT Broker",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "a7531e13f09fec11",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "44b5df9e90cb2c76",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MQTT Message",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b0ecf4748edee01",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "white pot split",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 340,
        "wires": []
    },
    {
        "id": "f305ec327ff6b9b1",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "red pot split",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "243a3cfbbf6192b4",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "blue pot split",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 40,
        "wires": []
    },
    {
        "id": "2ae8733ae44045bf",
        "type": "json",
        "z": "5ca93481cae05161",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "c719d35b4cf7c8dd",
                "ba38dd25ba873762"
            ]
        ]
    },
    {
        "id": "c719d35b4cf7c8dd",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "Parser Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "eaafdb53c30a14cd",
        "type": "switch",
        "z": "5ca93481cae05161",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "BluePotValue",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RedPotValue",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "WhitePotValue",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 3,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "243a3cfbbf6192b4",
                "e8981a266e351df5",
                "72f4c24a635f5018"
            ],
            [
                "f305ec327ff6b9b1",
                "bf3438647e88172f",
                "d08edee8b38cc947"
            ],
            [
                "9b0ecf4748edee01",
                "0762d29585d228eb",
                "d63a9d9a20ef0b4b",
                "ef383b813b23cec3"
            ]
        ]
    },
    {
        "id": "ba38dd25ba873762",
        "type": "split",
        "z": "5ca93481cae05161",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "eaafdb53c30a14cd",
                "862cbd5ae12bbb1a"
            ]
        ]
    },
    {
        "id": "862cbd5ae12bbb1a",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "Split Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf3438647e88172f",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "d6613f43781768c7",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Red Pot - Filter Pressure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 220,
        "wires": []
    },
    {
        "id": "e8981a266e351df5",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "8eb61f5e3b694800",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Blue Pot - Fan Vibration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 80,
        "wires": []
    },
    {
        "id": "0762d29585d228eb",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "1668aef212da269d",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "White Pot - Fan Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "d63a9d9a20ef0b4b",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "deg C",
        "group": "1668aef212da269d",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Fan Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "72f4c24a635f5018",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "in/sec",
        "group": "8eb61f5e3b694800",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": " Fan Vibration",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "d08edee8b38cc947",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "",
        "group": "d6613f43781768c7",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "AHU Filter Pressure Drop",
        "label": "PSI",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 260,
        "wires": []
    },
    {
        "id": "ef383b813b23cec3",
        "type": "switch",
        "z": "5ca93481cae05161",
        "name": "RAG Lights",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "49",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "50",
                "vt": "num",
                "v2": "74",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "75",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1130,
        "y": 540,
        "wires": [
            [
                "8235a6d451aaad0d",
                "a4f40207dcf5d92f"
            ],
            [
                "8235a6d451aaad0d",
                "5273dcb9c292548d"
            ],
            [
                "8235a6d451aaad0d",
                "f3edb320ee45c8b3"
            ]
        ]
    },
    {
        "id": "c3a40dc37b8fcb20",
        "type": "mqtt out",
        "z": "5ca93481cae05161",
        "name": "MQTT LED post",
        "topic": "picow/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "54665b95bf4f4d1c",
        "x": 1960,
        "y": 560,
        "wires": []
    },
    {
        "id": "a4f40207dcf5d92f",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Green Light on",
        "func": "msg.payload = \"GREEN ON\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 500,
        "wires": [
            [
                "39b83339d209be52",
                "c3a40dc37b8fcb20"
            ]
        ]
    },
    {
        "id": "5273dcb9c292548d",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Yellow Light On",
        "func": "msg.payload = \"YELLOW ON\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 560,
        "wires": [
            [
                "39b83339d209be52",
                "c3a40dc37b8fcb20"
            ]
        ]
    },
    {
        "id": "f3edb320ee45c8b3",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Red Light On",
        "func": "msg.payload = \"RED ON\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 620,
        "wires": [
            [
                "39b83339d209be52",
                "c3a40dc37b8fcb20"
            ]
        ]
    },
    {
        "id": "8235a6d451aaad0d",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "RAG Switch outputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 700,
        "wires": []
    },
    {
        "id": "39b83339d209be52",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "RAG Function outputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 560,
        "wires": []
    },
    {
        "id": "54665b95bf4f4d1c",
        "type": "mqtt-broker",
        "name": "HomeBroker",
        "broker": "192.168.68.135",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44b5df9e90cb2c76",
        "type": "ui_group",
        "name": "MQTT Message",
        "tab": "68b39df7a39ba1b8",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6613f43781768c7",
        "type": "ui_group",
        "name": "Red Pot",
        "tab": "99d9cdb8e8b30084",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8eb61f5e3b694800",
        "type": "ui_group",
        "name": "Blue Pot",
        "tab": "99d9cdb8e8b30084",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1668aef212da269d",
        "type": "ui_group",
        "name": "White Pot",
        "tab": "99d9cdb8e8b30084",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "68b39df7a39ba1b8",
        "type": "ui_tab",
        "name": "CHI testing",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "99d9cdb8e8b30084",
        "type": "ui_tab",
        "name": "HomeLab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]