MultipleTopics_SwitchLights_Dashboards/NR_Flow_MulTopic_RAG-LED_Dashboards.json
[
    {
        "id": "78acc2ad6131aee1",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "d6613f43781768c7",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Red Pot - Filter Pressure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 880,
        "wires": []
    },
    {
        "id": "6ad2f6b19f87c053",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "8eb61f5e3b694800",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Blue Pot - Fan Vibration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b4edaa479e670854",
        "type": "ui_text",
        "z": "5ca93481cae05161",
        "group": "1668aef212da269d",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "White Pot - Fan Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ba806d14b95b84a5",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "deg C",
        "group": "1668aef212da269d",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Fan Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c07b406ea006f783",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "in/sec",
        "group": "8eb61f5e3b694800",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": " Fan Vibration",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 1140,
        "wires": []
    },
    {
        "id": "595c145e3d36680a",
        "type": "ui_gauge",
        "z": "5ca93481cae05161",
        "name": "",
        "group": "d6613f43781768c7",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "AHU Filter Pressure Drop",
        "label": "PSI",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 920,
        "wires": []
    },
    {
        "id": "e8ba3c14ba9062dd",
        "type": "mqtt in",
        "z": "5ca93481cae05161",
        "name": "Mosquitto MQTT Red Pot Topic",
        "topic": "picow/redpot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "54665b95bf4f4d1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "876c1bb64c38dbbd",
                "5c4e87abbbcf9712",
                "595c145e3d36680a",
                "78acc2ad6131aee1"
            ]
        ]
    },
    {
        "id": "c557b6f639d802e2",
        "type": "mqtt in",
        "z": "5ca93481cae05161",
        "name": "Mosquitto MQTT Blue Pot Topic",
        "topic": "picow/bluepot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "54665b95bf4f4d1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "6ad2f6b19f87c053",
                "c07b406ea006f783",
                "ea5193af3f85b6c7",
                "5c4e87abbbcf9712"
            ]
        ]
    },
    {
        "id": "eeb5bb5420f0933a",
        "type": "mqtt in",
        "z": "5ca93481cae05161",
        "name": "Mosquitto MQTT WhitePot Topic",
        "topic": "picow/whitepot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "54665b95bf4f4d1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1280,
        "wires": [
            [
                "2f3edd0349fc4cdf",
                "5c4e87abbbcf9712",
                "ba806d14b95b84a5",
                "b4edaa479e670854"
            ]
        ]
    },
    {
        "id": "876c1bb64c38dbbd",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "Red Pot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 840,
        "wires": []
    },
    {
        "id": "ea5193af3f85b6c7",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "Blue Pot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2f3edd0349fc4cdf",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "White Pot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5c4e87abbbcf9712",
        "type": "switch",
        "z": "5ca93481cae05161",
        "name": "RAG Lights",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "49",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "50",
                "vt": "num",
                "v2": "74",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "75",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 1600,
        "wires": [
            [
                "5e4267446be3d36c",
                "3de48f8325c345cc"
            ],
            [
                "5e4267446be3d36c",
                "f49c629f7751cfaa"
            ],
            [
                "5e4267446be3d36c",
                "46f78af5f83acf03"
            ]
        ]
    },
    {
        "id": "7a2ab90cdf78c5d5",
        "type": "mqtt out",
        "z": "5ca93481cae05161",
        "name": "MQTT LED post",
        "topic": "picow/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "54665b95bf4f4d1c",
        "x": 1260,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3de48f8325c345cc",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Green Light on",
        "func": "msg.payload = \"GREEN ON\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1560,
        "wires": [
            [
                "199005c253eeeeaa",
                "7a2ab90cdf78c5d5"
            ]
        ]
    },
    {
        "id": "f49c629f7751cfaa",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Yellow Light On",
        "func": "msg.payload = \"YELLOW ON\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1620,
        "wires": [
            [
                "199005c253eeeeaa",
                "7a2ab90cdf78c5d5"
            ]
        ]
    },
    {
        "id": "46f78af5f83acf03",
        "type": "function",
        "z": "5ca93481cae05161",
        "name": "Red Light On",
        "func": "msg.payload = \"RED ON\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1680,
        "wires": [
            [
                "199005c253eeeeaa",
                "7a2ab90cdf78c5d5"
            ]
        ]
    },
    {
        "id": "5e4267446be3d36c",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "RAG Switch outputs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1500,
        "wires": []
    },
    {
        "id": "199005c253eeeeaa",
        "type": "debug",
        "z": "5ca93481cae05161",
        "name": "RAG Function outputs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d6613f43781768c7",
        "type": "ui_group",
        "name": "Red Pot",
        "tab": "99d9cdb8e8b30084",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8eb61f5e3b694800",
        "type": "ui_group",
        "name": "Blue Pot",
        "tab": "99d9cdb8e8b30084",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1668aef212da269d",
        "type": "ui_group",
        "name": "White Pot",
        "tab": "99d9cdb8e8b30084",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "54665b95bf4f4d1c",
        "type": "mqtt-broker",
        "name": "HomeBroker",
        "broker": "192.168.68.135",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "99d9cdb8e8b30084",
        "type": "ui_tab",
        "name": "HomeLab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]